<h1>Song Wall</h1>

<a href="/">Home</a>

<br>

<% if current_user %>
  <p>Currently logged in as: <%= current_user.email %></p>
  <a href="/songs/new">Post a song to the Song Wall!</a>
<% end %>

<% @songs.each do |song| %>

  <div class="container center-container">
    <a class="no-underline" href="/songs/<%= song.id %>">
      <h3>
        <%= song.title %> <small>(by: <%= song.author %>)</small>
      </h3>
    </a>
    <a class="no-underline" href="<%= song.url %>">Listen</a>

    <% if current_user && !Upvote.exists?(user_id: current_user.id, song_id: song.id) %>
      <a class="no-underline" href="/upvote/<%= song.id %>"><input type="button" value="Upvote"></a>
    <% end %>

    <p>Upvote Count: <%= song.upvote_count %></p>

    <% if song.user_id %>
      <p>Posted by: <%= User.find(song.user_id).email %></p>
    <% else %>
      <p>No user posted this song...</p>
    <% end %>

  </div>

<% end %>