<h1>Song Wall</h1>

<% @songs.each do |song| %>
  <div class="song">
    <a href="/songs/<%= song.id %>">
      <h3>
        <%= song.title %> <small>(by: <%= song.author %>)</small>
      </h3>
    </a>
    <a href="<%= song.url %>">Listen</a>
    <% if song.user %>
      <p>Posted by: <%= song.user.email %></p>
    <% end %>
  </div>
<% end %>

<% if current_user %>
  <a href="/songs/new">Post a song to the Song Wall!</a>
<% end %>
<br>
<a href="/">Home</a>